#Form{
	border:10px;
	border-radius:5px;
	background-color:#A9D3A9;
	width:450px;	
	border-color:black;
	margin:auto;
	padding:5px;
	padding-left:5px;
}
body{	
	background-color:#7b9234;
}
#content{
	border-radius:10px;
	border-color:black;
	background-color:green;
	text-align:center;
	color:white;
}